body {
	height: 100%;
	width: 99%;
  background-color: #5b7989;
}

header {
	width: 100%;
	clear: both;

}

header h1 {
	padding-left: 10px;
	float: left;

}
#titulo{
	text-decoration-color: #02010A;
	text-shadow: 10px;
}
header h3 {
	padding-right: 2%;
	float: right;
}

footer {
	margin-top: 10px;
	width: 99%;
	position: fixed;
	bottom: 0;
	border-top: solid 2px black;
	padding-top: 10px;
	text-align: center;
	background-color: #C6d5c5;
}
